asgiref==3.11.1
beautifulsoup4==4.14.3
blessed==1.30.0
certifi==2026.1.4
charset-normalizer==3.4.4
curtsies==0.4.3
cwcwidth==0.1.12
Django==6.0.2
django-taggit==6.1.0
Faker==40.5.1
greenlet==3.3.1
html-sanitizer==2.6.0
idna==3.11
lxml==6.0.2
lxml_html_clean==0.4.4
Markdown==3.10.2
Pygments==2.19.2
python-decouple==3.8
pyxdg==0.28
requests==2.32.5
soupsieve==2.8.3
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
